{% extends 'base.html'%}
{% block title %}
    roBOT
{% endblock %}
{% block content %}
<div class = "header">
    <h1>roBOT</h1>
    <h2>Your Personal Assistant</h2>
</div>
<div class="box center">
    <div class="bubble bot">
        <img src="static/images/robot.png" alt="">
        <p class="text">
            Halo! namaku adalah roBOT, silahkan masukkan perintah untuk mengatur tugas yang gaada habisnya
        </p>
    </div>
    <div class="bubble user">
        <img src="static/images/user.png" alt="">
        <p class="text">
            Gamau :(
        </p>
    </div>
    <div class="bubble bot">
        <img src="static/images/robot.png" alt="">
        <p class="text">
            Yuk bisa yuk
        </p>
    </div>
</div>
<form method="GET" id="myForm" name="myForm">
    <textarea name="message" id="message" cols="30" rows="10" placeholder="Masukkan perintah di sini" form="myForm"></textarea>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="static/script/script.js"></script>
{% endblock %}